<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{LANGUAGE_CODE|default:'en-us'}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<body>

{% block title %}
	Blog - {{block.super}}
{% endblock %}

{% block content %}

<div class="content">
	<div class="section-inner clearfix">
	
	<p>{% blocktrans with user_username=request.user.username %}Welcome {{user_username}} !{% endblocktrans %}</p>
	
	<p>{% trans "User Details:"%}</p>
	
	<ul>
		<li>{% blocktrans with user_email=request.user.username.email|default:"NA" %}Email: {{user_email}}{% endblocktrans %}</li>
		<li>{% blocktrans with is_superuser=request.user.is_superuser %}SuperUser: {{is_superuser}}{% endblocktrans %}</li>
		<li>{% blocktrans with is_staff=request.user.is_staff %}Staff: {{is_staff}}{% endblocktrans %}</li>
		<li>{% blocktrans with date_joined=request.user.date_joined %}Date Joined: {{date_joined}}{% endblocktrans %}</li>
		<li>{% blocktrans with last_login=request.user.last_login %}Last Login: {{last_login}}{% endblocktrans %}</li>
	</ul>
	
	<p><a href="{% url 'blog_logout'%}">{% trans "Logout"%}</a></p>
	
	</div>
</div>

{% endblock %}

</body>
</html>