<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style1.css' %}" media="all" />
{{ form.media }}
{% endblock %}
{% block extrascripts %}
<script defer src="{% static 'blog/js/navigation.js' %}"></script>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Autoelectronics Electra') }}{% endblock %}

{% block extrahead %}{% endblock %}

{% block branding %}{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}
<div id="tophead">
		<div class="container">
			
			<i class="fas fa-wrench" style="color:#f5ec13;"></i>
			<i class="fas fa-car" style="color:#f5ec13;"></i>
			<i class="fas fa-bus" style="color:#f5ec13;"></i>
			<i class="fas fa-truck" style="color:#f5ec13;"></i>
			
			<a class="quick-call" href="tel:+359887720074"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7 right-12" style="color:#f5ec13;"></i><b><i>0887 72 00 74</i></b></a> 
			<a class="quick-call" href="tel:+35982861486"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7 right-12" style="color:#f5ec13"></i><b><i>082/ 86 14 86</i></b></a>
			<div class="quick-links" style="line-height:1; margin-left:10px;">
				<a class="links-btn" href="#">
					{% trans "How to find us"%}
				</a>
				<ul>
					<li><a href="/contact/usg/">{% trans "Bulgaria, Rousse, Gotse Delchev Blvd 68"%}</a></li>
					<li><a href="/contact/usv/">{% trans "Bulgaria, Rousse, Vidin Street 17"%}</a><li>
				</ul>
			</div>
		
			
				
			
				
				<!--<span class="fa-layers fa-fw fa-2x" >
					<a href="/"><i class="fas fa-sign fa-lg" data-fa-transform="down-2" style="color:#000080"></i>
					<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3 right-3" style="font-weight:900">BG</span></a>
				</span> -->
				
				
				<!--<form action="{% url 'set_language' %}" method="post" style="float: right; margin-top:2px; box-shadow: 1px 3px 3px 1px #294a70;">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
					<input name="language" type="hidden" value="ro" />
					<input type="submit" value="RO" />
				</form>
				<form action="{% url 'set_language' %}" method="post" style="float: right; margin-top:2px; box-shadow: 1px 3px 3px 1px #294a70;">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
					<input name="language" type="hidden" value="ru" />
					<input type="submit" value="RU" />
				</form>-->
				<form action="{% url 'set_language' %}" method="post" style="float: right; margin-top:2px;">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
					<input name="language" type="hidden" value="bg" />
					<b><input type="submit" value="BG" /></b>
				</form>
				<form action="{% url 'set_language' %}" method="post" style="float: right; margin-top:2px;">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
					<input name="language" type="hidden" value="en" />
					<b><input type="submit" value="EN" /></b>
				</form>
		</div>	
	</div>
	<header id="masthead" class="site-header" role="baner" style="border-bottom: 3px solid #d20000;">
		<div>
			<!--<div class="search-section">
				<form class="search-form" role="search" method="get" action="http://127.0.0.1:8000/">
					<label>
						<span class="screen-reader-text">{% trans "Search for:"%}</span>
						<input class="search-field" placeholder='{% trans "Search..." %}' value="" name="s" title="Search for:" type="search"/>
					</label>
					<input class="search-submit" value='{% trans "Search"%}' type="submit"/>
				</form>
			</div>-->
			<div class="site-branding">
					<img  class="custom-logo-link" src="{% static 'blog/images/LogoELECTRA.png'%}" alt="Autoelectronics Electra" itemprop="logo"><!--width="86" height="auto">style="width: 20%; height: auto;"-->
				<div class="site-identify">
					<p class="site-title">{% trans "Autoelectronics Electra"%}</p>
					<p class="site-description">{% trans "Autoelectronics repairs"%}</p>
				</div>	
				<nav id="site-navigation" class="main-navigation" role="navigation">
					<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
						<i class="fa fa-bars"></i>
						{% trans "Menu"%}
					</button>
					
							
					<div class="wrap-menu-content">
						<div class="menu-container">
							<ul id="primary-menu" class="menu" >
								
								<li><a href="/">{% trans "About us"%}</a></li>
								<li><a href="/services/">{% trans "Services"%}</a></li>
								<li><a href="/gps/">{% trans "GPS Systems"%}</a><li>
								<li><a href="/cctv/">{% trans "CCTV"%}</a><li>
								<li><a href="/security/">{% trans "Security Systems"%}</a><li>
								<li><a href="/feedback/">{% trans "Feedback"%}</a></li>
								
								
								
								{% if user.is_authenticated %}
								<li>
								<a href="/logout/">{% trans "Log out"%}<i class="fas fa-user" data-fa-transform="down-3 left-6" style="color:#FAF0E6; float:left;"></i>
								</a>
								</li>
								{% else %}
								<li>
								<a href="/login/">{% trans "Log in"%}<i class="fas fa-user" data-fa-transform="down-3 left-6" style="color:#FAF0E6; float:left;"></i>
								</a>
								</li>
								{% endif %}
								
								
							</ul>
						</div>
					</div>
				</nav>
		
	
			</div>
			
		</div>
	</header>
	<!--<div class="img" style="background-color:#1E90FF; padding-top: 20px">
		<img src="{% static 'blog/images/LogoELECTRA.png'%}" style="width: 18%; height: auto;"><img src="{% static 'blog/images/01.png'%}" style="width: 82%; height: auto;" / >
	</div>-->
	
	


{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}



<nav id="site-navigation" class="nav" role="navigation">
	
	<!--<div class="wrap-menu-content">
		<div class="menu-container">
			
			
			
		
			<ul id="secondary-menu" class="menu">
			
				
				
			
					
					<li><a target="_blank" href="{{request.scheme}}://{{request.get_host}}">{% trans "View Site"%}</a></li>
			</ul>	
					<div style="padding:5px; float:right;">
					<i class="fas fa-user" style="color:#FAF0E6;"></i>
					{% if user.is_authenticated %}
					<a href="/logout/">{% trans "Log out"%}</a>
					{% else %}
					<a href="/login/">{% trans "Log in"%}</a>
					{% endif %}
					
					</div>
					
				
				
		</div>		
	</div>-->			
</nav>


		{% block main %}{% endblock %}
		<div class="sidebar-primary">
			<b>
			<h1 style="color:#f5ec13;"><b>{% trans "Opening Hours"%}</b>:</h1>
				<table>
					<tr>
						<td>{% trans "Monday"%}</td>
						<td>09:00-18:30</td>
					</tr>
					<tr>
						<td>{% trans "Tuesday"%}</td>
						<td>09:00-18:30</td>
					</tr>
					<tr>
						<td>{% trans "Wednesday"%}</td>
						<td>09:00-18:30</td>
					</tr>
					<tr>
						<td>{% trans "Thursday"%}</td>
						<td>09:00-18:30</td>
					</tr>
					<tr>
						<td>{% trans "Friday"%}</td>
						<td>09:00-18:30</td>
					</tr>
					<tr>
						<td>{% trans "Saturday"%}</td>
						<td>09:00-14:00</td>
					</tr>
					<tr>
						<td>{% trans "Sunday"%}</td>
						<td>{% trans "Closed"%}</td>
					</tr>
				</table></b>
				<br>
				<div style="text-align:right;">
					<a class="quick-call" href="tel:+359887720074"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7 right-12" style="color:#f5ec13;"></i><b><i>0887 72 00 74</i></b></a> 
					</br>
					<a class="quick-call" href="tel:+35982861486"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7 right-12" style="color:#f5ec13"></i><b><i>082/ 86 14 86</i></b></a>
					</div>
					<br></br>
					<div class="quick-links" style="font-family: 'Merriweather Sans',sans-serif;">
						<a class="links-btn" href="#">
							{% trans "How to find us"%}
						</a>
						<ul>
							<li><a href="/contact/usg/">{% trans "Bulgaria, Rousse, Gotse Delchev Blvd 68"%}</a></li>
							<li><a href="/contact/usv/">{% trans "Bulgaria, Rousse, Vidin Street 17"%}</a><li>
						</ul>
					</div>
					<br></br>
					<blockquote>
						<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fshare%2F&display=popup">
						<i class="fab fa-facebook fa-lg"  style="color:#4682b4;"></i>{% trans " Share"%}</a>
					</blockquote>
				</div>
				
	
	
	
{% endblock %}
	
	{% block footer %}

	<div class="footer">
		
		<p><b>Created by &copy;Scallopy; </b> 	email: scallopy@abv.bg </p>
	</div>
	
	{% endblock %}
