<!DOCTYPE html>
{% extends "blog/base_site.html" %}
{% load i18n static %}

{% block title %} | {% trans "How to find us"%} | {% trans "Vidin Street 17"%} | {% trans "Bulgaria, Rousse"%}{% endblock %}
{% block extrahead %}
<meta name="keywords" content='{% trans "Autoelectronics"%},
							   {% trans "Autoservice"%},
							   {% trans "Autoelectronics Electra"%},
							   {% trans "Bulgaria, Rousse"%},
							   {% trans "Vidin Street 17"%}'>
<meta name="description" content='{% trans "Bulgaria, Rousse, Vidin Street 17"%}'>

{% endblock %}
{% block main %}

	<div class="main">
	
		<h3>&#187; {% trans "Contact us:"%}</h3>
		<hr>
		<div width="20%" height="auto" style="float: right;">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.7344068154644!2d25.951818214936132!3d43.84060464831095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ae60c00b8306a5%3A0xe91cd80b86486791!2z0YPQuy4g4oCe0JLQuNC00LjQveKAnCAxNywgNzAxMiDQoNGD0YHQtSDQptC10L3RgtGK0YAsINCg0YPRgdC1!5e0!3m2!1sbg!2sbg!4v1523272146435" width="70%" height="auto" frameborder="0" style="border: 1px solid #1e90ff;" allowfullscreen></iframe>
		</div>
			
		<div width="20%" height="auto" style="float: left;">
		<p>
			{% trans "Autoelectronics Electra"%}</br>
			{% trans "Bulgaria, Rousse"%}</br>
			{% trans "Vidin Street 17"%}</br>
		</p>
		<p>
		<a class="quick-call" href="tel:+35982861486"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7" style="color:#000080"></i><b><i>082/ 86 14 86</i></b></a></br>
		</p>
		<p>
		<a class="quick-call" href="tel:+359887720074"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7" style="color:#000080"></i><b><i>0887 72 00 74</i></b></a></br>
		</p>
		<p>
		<a class="quick-call" href="tel:+359888590051"><i class="fas fa-phone fa-lg" data-fa-transform="shrink-7" style="color:#000080"></i><b><i>0888 59 00 51</i></b></a></br>
		</p>
		<p>
		<i class="fas fa-envelope fa-lg" data-fa-transform="shrink-7" style="color:#000080"></i>elektra_co@abv.bg
		</p>
		</div>
		<div class="img" style="padding-top: 20px">
			<img src="{% static 'blog/images/021.jpg'%}" style="width: 100%; height: auto;" / >
		</div>
		
		<blockquote>
			<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fshare%2F&display=popup">
			<i class="fab fa-facebook fa-lg"  style="color:#4682b4;"></i>{% trans " Share"%}</a>
		</blockquote>
	</div>

{% endblock %}
