<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load i18n static %}
	
	
	
	{% block content %}
	
		<div class="content">
			<div class="section-inner clearfix">		
			
			{% for post in posts %}
				<h3>
					<a href="{{post.get_absolute_url}}">{{post.title|capfirst}}</a>
				</h3>
				<p class="post-info">
					{% include 'blog/post_info.html' %}
				</p>
			{% empty %}
				<p>{% trans "There are no posts"%}</p>
			{% endfor %}
			
			</div>
		</div>
		<div class="pagination">
			<div class="section-inner clearfix">
				<p>
					{% if posts.has_previous %}
						<a href="?page={{posts.previous_page_number}}">&lt; {% trans "Prev"%}</a> |
					{% endif %}
					
					<span>{% trans "Page"%} {{posts.number}} {% trans "of"%} {{posts.paginator.num_pages}}</span>
						
					{% if posts.has_next %}
						<a href="?page={{posts.next_page_number}}">{% trans "Next"%} &gt;</a>
					{% endif %}
						
				</p>
			</div>
		</div>
	{% endblock %}
