<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{LANGUAGE_CODE|default:'en-us'}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load i18n static %}
<body style="background-color:#D2B48C;">
	
	{% block title %}
		{{category|title}} - {{block.super}}
	{% endblock %}
	
	{% block content %}
	
		<div class="content">
			<div class="section-inner clearfix">
			
		<h4>{% trans "All the posts under category"%} - {{category.name}}</h4>
		
		{% for post in posts %}
			<h3>
				<a href="{{post.get_absolute_url}}">{{post.title|capfirst}}</a>
			</h3>
			<p>
				{% include 'blog/post_info.html' %}
			</p>
		{% empty %}
			<p>{% trans "There are not posts in category"%} {{category}}</p>
		{% endfor %}

            </div>
		</div>
		<div class="pagination">
			<div class="section-inner clearfix">
				<p>
					{% if posts.has_previous %}
						<a href="?page={{posts.previous_page_number}}">&lt; {% trans "Prev"%}</a> |
					{% endif %}
					
					<span>{% trans "Page"%} {{posts.number}} {% trans "of"%} {{posts.paginator.num_pages}}</span>
						
					{% if posts.has_next %}
						<a href="?page={{posts.next_page_number}}">{% trans "Next"%} &gt;</a>
					{% endif %}
						
				</p>
			</div>
		</div>

	{% endblock %}
</body>
</html>