<!DOCTYPE html>
{% extends "blog/base_site.html" %}
{% load i18n static %}

{% block main %}

		<div class="main">
		
		
			
			<h3>За нас:</h3>

<!--<article id=>-->
Фирма "Електра - Димитър Димитров" ЕТ стартира дейността си през 1990г. </br></br>
Работи в сферата на електрониката - автоелектроника и всички видове GPS системи, видеонаблюдение и охранителни системи.</br></br>
Автосервиз "Автоелектроника Електра" е сервизно-търговски комплекс  от 1200 кв.м работна площ  в гр. Русе, бул. Гоце Делчев № 68.
За удобство на клиентите фирмата разполага също и със автосервиз на ул. "Видин" №17. На същия адрес фирменият магазин
предлага богата гама ксенонови светлини и елементи за техния монтаж, внасяни от ПИ ЕС ПИ КОМПЮТРИ - официален вносител на продукти LUXIMA за България.
"Електра - Димитър Димитров" ЕТ е оторизирана за техния монтаж.</br></br>

<ul>
<li>Сервизите са оборудвани  с последно поколение стендове за извършване на високо технологични услуги :</li>

<li>Компютърна система за диагностика на управляващите блокове и анализ на автомобилните системи, състояща се от измервателен модул Бош-FSA 720 и диагностичен тестер Бош-KTS 520.</li>
<li>Нова генерация за гъвкаво измерване на ходовата част при всички автомобили, изпълнена чрез 8-сензoрна CCD техника -- Бош FWA 515.</li> 
<li>Автоматичен апарат за източване, рециклиране и зареждане на охлаждащи флуиди R-134a R-12 от автомобилни климатици.</li>

<li>стенд за изпитване окачването на автомобила.
</ul>
 <h3>Сервизът предлага следните  услуги:</h3>
<ul>
<li>Компютърна диагностика на автомобила : двигател, скоростна кутия, АВS, климатроник, системи.</li>
<li>Ремонт ел. инсталации, стартери, алтернатори, ел. оборудване на двигател, ABS,централно заключване.</li>
<li>Ремонт на лекотоварни и товарни  автомобили.</li>
<li>Смяна на масла и филтри.</li>
<li>Специализиран магазин за продажба на ксенонови светлини и елементи за техния монтаж.</li>
<li>Извършване на предпродажна диагностика на автомобила : състояние на двигател, ходова част, спирачна система, амортисьори, геометрия,оборудване в купе.</li>
<li>Сервизирането на автомобилите се извършва в три ремонтни комплекса с 28 работни места</li>
<li>Клиентите  могат  да наблюдават ремонта на своя автомобил, в приятна обстановка от кафето над сервиза.</li>
</ul>
</p>

	<blockquote>
		<i class="fab fa-facebook"  style="color:#4682b4;"></i>
		
		<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fshare%2F&display=popup" style="color:#4682b4;">
		Sharing</a>
		<i class="fa fa-share-square"  style="color:#4682b4;"></i>
		</blockquote>
		
			
		
		
		</div>
		
{% endblock %}