<!DOCTYPE html>
{% extends "blog/base_site.html" %}
{% load i18n static %}

{% block main %}

		<div class="main">
		
		
			
			<h2>{% trans "About us"%}:</h2>

<!--<article id=>-->
{% blocktrans %}
<p>"Elektra - Dimitar Dimitrov" company started its activity in 1990.
He works in the field of electronics - autoelectronics and all types of GPS systems, 
video surveillance and security systems.</p>

<p>The company offers its customers fast and quality service based on years of 
experience, selected staff of qualified specialists, modern equipment for high-tech
 services and innovative diagnostic equipment.</p>

<p>Autoelectronics "Elektra" is a service-trade complex with about 1200 sq.m of 
working space in Bulgaria, the city of Rousse, 68, Gotse Delchev Blvd.</p>

<p>For customer convenience, the company also has an autoelectronics service in 
Bulgaria, the city of Rousse, on 17, Vidin Street.</p>

<p>At the same address, the store offers a wide range of xenon lights and elements 
for their installation, imported by "PSP Computers" Ltd - the official importer of 
LUXIMA products in Bulgaria. “Electra - Dimitar Dimitrov” is an authorized workshop 
for their installation.</p>

<h2>Autoelectronics Electra offers the following services for vehicles:</h2>
<ul>
	<li>Computer diagnostics of electrical control blocks (clearing of accumulated errors)</li>
	<li>KTC Diagnostic and Repair of Gasoline and Diesel Engines</li>
	<li>Repair of starters, alternators and electrical equipment</li>
	<li>Computer Diagnostics and Repair of Petrol and Diesel Injection Systems ABS, SRS, etc.</li>
	<li>Periodic reviews</li>
	<li>Repair electronics of the vehicle</li>
	<li>Repairs to the car's electrical system</li>
	<li>Maintenance and repair of the air conditioning system</li>
	<li>Sale and installation of Car audio systems, CD, DVD, TV, Multimedia</li>
	<li>Installation of Professional Audio Systems in vehicles</li>
	<li>Sale, installation, and updating of the vehicle's navigation system</li>
	<li>Installation of GPS tracking systems</li>
	<li>Installation of alarm systems</li>
	<li>Installation and repair of all types of immobilizers, Bluetooth, APS car systems</li>
	<li>Repair of computers, modules and electrical circuit boards of vehicles</li>
	<li>Repair and installation of central locking of vehicles</li>
	<li>Repair of electric stoves on vans, trucks, and buses</li>
	<li>Installation of Xenon systems</li>
	<li>Repair of electric vehicles</li>
	<li>Mechanical repairs</li>
	<li>Changing oils, filters, etc.</li>
</ul>
{% endblocktrans %}


	<blockquote style="width:110px; float:left; padding: 5px; box-shadow: 2px 2px 2px 2px #1e90ff;">
		<i class="fab fa-facebook"  style="color:#4682b4;"></i>
		
		<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fshare%2F&display=popup" style="color:#4682b4;">
		{% trans "Share"%}</a>
		<i class="fa fa-share-square"  style="color:#4682b4;"></i>
	</blockquote>
		
			
		
		
		</div>
		
{% endblock %}