<!DOCTYPE html>
{% extends "blog/base_site.html" %}
{% load i18n static %}
{% block title %} | {% trans "What Is a Security System and How Does it Work?"%}{% endblock %}
{% block extrahead %}
<meta name="keywords" content='{% trans "Autoelectronics"%}, {% trans "Autoservice"%}, {% trans "Electra"%}, {% trans "Rousse"%}, {% trans "repairs"%}'>
{% endblock %}
{% block main %}

<div class="main">
		
	<h2>{% trans "What Is a Security System and How Does it Work?"%}</h2>
	
	{% blocktrans %}
	
	<p>Home security is both the security hardware in place on a property as well as personal security practices:</p> 
	<p>&#9830; Security hardware includes doors, locks, alarm systems, lighting, motion detectors, security camera systems, 
	etc. that are installed on a property;</p> 
	<p>&#9830; Personal security involves practices such as ensuring doors are 
	locked, alarms activated, windows closed, extra keys not hidden outside, etc.</p>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<h2>What is a security system?</h2>
	<p>The most basic definition of any security system is found in its name. It is literally a means or method by 
	which something is secured through a system of interworking components and devices.</p>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>In this instance, we're talking about home security systems, which are networks of integrated electronic devices 
	working together with a central control panel to protect against burglars and other potential home intruders.</p>

	<h2>A typical home security system includes:</h2>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>&#9830; A control panel, which is the primary controller of a home's security system.</p>
	<p>&#9830; Sensors:
	<p>Sensors can detect intruders by a variety of methods, such as monitoring doors and windows for opening, or by 
	monitoring unoccupied interiors for motions, sound, vibration, or other disturbances.</p>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>&#9830; Wired or wireless security cameras.</p>
	
	<p>&#9830; A high-decibel siren or alarm.</p>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>A security system is designed to detect intrusion – unauthorized entry – into a building or other area. 
	The security systems are used in residential, commercial, industrial, and military properties for protection against 
	burglary (theft) or property damage, as well as personal protection against intruders. Car alarms likewise help protect vehicles and their contents.</p> 
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>Some alarm systems serve a single purpose of burglary protection; combination systems provide both fire and 
	intrusion protection. Intrusion alarm systems may also be combined with closed-circuit television surveillance 
	(CCTV) systems to automatically record the activities of intruders, and may interface to access control systems for electrically locked doors.</p>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>The primary system consists of one or more intruder detection sensors and an alarm device that shows the invasion.</p>
	
	<p>To detect unauthorized entry or movement, it is also necessary to install additional spotlights, cameras and lasers.</p>
	
	{% endblocktrans %}
	{% blocktrans %}
	
	<p>&#9830; In addition to the system itself, security alarms are often combined with a monitoring service. The room management 
	unit can send a signal to a personal telephone, certain telephone lines or the Internet.</p>
	
	{% endblocktrans %}
				
			
			


	<blockquote>
		<a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fshare%2F&display=popup">
		<i class="fab fa-facebook fa-lg"  style="color:#4682b4;"></i>{% trans " Share"%}</a>
	</blockquote>
		
</div>
		
{% endblock %}
