<!DOCTYPE html>
<html>
<head>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Autoelectronics Electra :: Admin Panel{% endblock %}</title>
	{% load static %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="{% static 'cadmin/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'cadmin/css/reset.css' %}">
</head>
<body>
	<div class="navbar">
		<div class="section-inner clearfix">
			<nav>
				<a href="/">Autoelectronics Electra</a>
				<a href="#">Blog</a>
				<a href="#">Contact</a>
				<a href="#">Career</a>
			</nav>
		</div>
		<div>
			<img src="{% static 'blog/images/LogoELECTRA.png' %}" / >
		</div>
		
	</div>

	{% block content %}
	
	{% endblock %}
	
	<div class="footer">
		<div class="section-inner clearfix">
			<hr>
			<h3>&copy; Scallopy</h3>
			<p>email: scallopy@abv.bg</p>
		</div>
	</div>

</body>
</html>