<!DOCTYPE html>
{% extends "cadmin/base_admin.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{LANGUAGE_CODE|default:'en-us'}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<body>

{% block title %}
	{% trans "All Categories"%} - {{block.super}}
{% endblock %}

{% block main %}

	<div class="main">
	
		<p>&#187; <a href="{% url 'category_list' %}">{% trans "All Categories"%}</a></p>
		
		<p class="button"><a href="{% url 'category_add' %}">{% trans "Add Category"%} &raquo;</a></p>
		
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
		
		<p class="count">{% trans "Total Categories:"%} {{categories.paginator.count}}</p>
		
			{% for category in categories %}
				{% if forloop.first		%}
					<table class="tbl-class">
						<tr>
							<th>{% trans "Name"%}</th>
							<th>{% trans "Slug"%}</th>
							<th>{% trans "Author"%}</th>
							<th>{% trans "Action"%}</th>
						</tr>
				{% endif %}
				
				<tr>
					<td class="post-title" title="{{category.name}}">{{category.name|truncatechars:50}}</td>
					<td>{{category.slug}}</td>
					<td>{{category.author.user.username}}</td>
					<td>
						<a href="{% url 'category_update' category.id %}">{% trans "Edit"%}</a> |
						<a href="{% url 'category_delete' category.id %}?next={{request.get_full_path}}" onclick=" return confirm('Are you sure ?')">{% trans "Delete"%}</a>
					</td>
				</tr>
				
				{% if forloop.last %}
					</table>
				{% endif %}
				
			{% empty %}
				{% trans "No Categories"%}
			{% endfor %}
		
	
	
	{% if categories %}
	
		<div class="pagination">
			<p>
				{% if categories.has_previous %}
					<a href="?page={{categories.previous_page_number}}">&lt; {% trans "Prev"%}</a> |
				{% endif %}
				
				<span>{% trans "Page"%}{{categories.number}} {% trans "of"%} {{categories.paginator.num_pages}}</span> |
				
				{% if catgories.has_next %}
					<a href="?page={{categories.next_page_number}}">{% trans "Next"%} &gt;</a>
				{% endif %}
				
			</p>
		</div>
		
	{% endif %}
	</div>
{% endblock %}
			
</body>
</html>