<!DOCTYPE html>
{% extends "cadmin/base_admin.html" %}
{% load i18n static %}

{% block title %}
	{% trans "Password Change"%} - {{block.super}}
{% endblock %}

{% block main %}

	<div class="main">
	
		<h2>&#187; <a href="{% url 'password_change' %}">{% trans "Change Password"%}</a></h2>
		<hr>
		
		<form action="{% url 'password_change' %}" method="post">
			{% csrf_token %}
			<table>
				{{form.as_p}}
				<tr>
					
					<td><input type="submit" value="{% trans 'Submit'%}"></td>
				</tr>
			</table>
		</form>
	
	</div>

{% endblock %}


