<!DOCTYPE html>
{% extends "cadmin/base_admin.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{LANGUAGE_CODE|default:'en-us'}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<body>

{% block title %}
	All Posts - {{block.super}}
{% endblock %}

{% block main %}

	<div class="main">
	
		<p>&#187; <a href="{% url 'post_list' %}">{% trans "All Posts"%}</a></p>
		
		<p class="button"><a href="{% url 'post_add' %}">{% trans "Add Post"%} &raquo;</a></p>
		
		{% if messages %}
			{% for message in messages %}
			<p>{{message}}</p>
			{% endfor %}
		{% endif %}
		
		<p class="count">{% trans "Total Posts"%}: {{posts.paginator.count}}</p>
		
			{% for post in posts %}
				
				{% if forloop.first %}
					<table class="tbl-class">
						<tr>
							<th>{% trans "Title"%}</th>
							<th>{% trans "Category"%}</th>
							{% if request.user.is_superuser %}
								<th>{% trans "Author"%}</th>
							{% endif %}
							<th>{% trans "Date"%}</th>
							<th>{% trans "Action"%}</th>
						</tr>
				{% endif %}
					
					<tr>
						<td class="post-title" title="{{post.title}}">{{post.title|truncatechars:50}}</td>
						<td>{{post.category}}</td>
						{% if request.user.is_superuser %}
							<td>{{post.author}}</td>
						{% endif %}
						
						<td title="{{post.pub_date}}">{{post.pub_date|date:"d M Y"}}</td>
						<td>
							<a href="{% url 'post_update' post.id %}">{% trans "Edit"%}</a> |
							<a href="{% url 'post_delete' post.id %}?next={{request.get_full_path}}" onclick=" return confirm('Are you sure ?')">{% trans "Delete"%}</a>
						</td>
					<tr>
					
					{% if forloop.last %}
						</table>
					{% endif %}
					
			{% empty %}
				No Posts
			{% endfor %}
				
	
	
	{% if posts %}
	
		<div class="pagination">
			<p>
				{% if posts.has_previous %}
					<a href="?page={{posts.previous_page_number}}">&lt; {% trans "Prev"%}</a> |
				{% endif %}
				
				<span>{% trans "Page"%} {{posts.number}} {% trans "of"%} {{posts.paginator.num_pages}}</span> |
				
				{% if posts.has_next %}
					<a href="?page={{posts.next_page_number}}">{% trans "Next"%} &gt;</a>
				{% endif %}
					
			</p>
		</div>
	{% endif %}
	</div>

{% endblock %}

</body>
</html>