<!DOCTYPE html>
{% extends "cadmin/base_admin.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{LANGUAGE_CODE|default:'en-us'}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<body>

{% block title %}
	{% trans "All Tags"%} - {{block.super}}
{% endblock %}

{% block main %}

	<div class="main">
	
		<h2>&#187; <a href="{% url 'tag_list' %}">{% trans "All Tags"%}</a></h2>
		<hr>
		<p class="button"><a href="{% url 'tag_add' %}">{% trans "Add Tag"%} &raquo;</a></p>
		
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
		
		<p class="count">Total Tags: {{tags.paginator.count}}</p>
		
			{% for tag in tags %}
				{% if forloop.first		%}
					<table class="tbl-class">
						<tr>
							<th>{% trans "Name"%}</th>
							<th>{% trans "Slug"%}</th>
							<th>{% trans "Author"%}</th>
							<th>{% trans "Action"%}</th>
						</tr>
				{% endif %}
				
				<tr>
					<td class="post-title">{{tag.name}}</td>
					<td>{{tag.slug}}</td>
					<td>{{tag.author.user.username}}</td>
					<td>
						<a href="{% url 'tag_update' tag.id %}">{% trans "Edit"%}</a> |
						<a href="{% url 'tag_delete' tag.id %}?next={{request.get_full_path}}" onclick=" return confirm('Are you sure ?')">{% trans "Delete"%}</a>
					</td>
				</tr>
				
				{% if forloop.last %}
					</table>
				{% endif %}
				
			{% empty %}
				No Tags
			{% endfor %}
		
	
	
	{% if tags %}
	
		<div class="pagination">
			<p>
				{% if tags.has_previous %}
					<a href="?page={{tags.previous_page_number}}">&lt; {% trans "Prev"%}</a> |
				{% endif %}
				
				<span>{% trans "Page"%}{{tag.number}} {% trans "of"%} {{tags.paginator.num_pages}}</span> |
				
				{% if catgories.has_next %}
					<a href="?page={{tags.next_page_number}}">{% trans "Next"%} &gt;</a>
				{% endif %}
				
			</p>
		</div>
	</div>	
	{% endif %}
	
{% endblock %}
			
</body>
</html>